{% load static %}
<header>
  <img src="{% static 'img/logo.png' %}" />
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'book' %}">Book</a></li>
    <li><a href="{% url 'user:logout' %}">logout</a></li>
    {% else %}
    <li><a href="{% url 'user:register' %}">Register</a></li>
    <li><a href="{% url 'user:login' %}">login</a></li>
    {% endif %}
  </ul>
</nav>
